.app.dark {
  --bg-color: #242424;
  --inverted-bg-color: #cfcfcf;

  --primary-color: rgb(243, 243, 252);
  --secondary-color: rgb(223, 223, 253);
  --inverted-primary-color: rgb(17, 40, 252);
  --inverted-secondary-color: rgb(118, 255, 124);
}
