.app.dark {
  --bg-color: #213555;
  --inverted-bg-color: #d8c4b6;
  --primary-color: #f5efe7;
  --secondary-color: #d8c4b6;
  --inverted-primary-color: #4f709c;
  --inverted-secondary-color: #213555;
}
