.app.light {
  --bg-color: #ffead2;
  --inverted-bg-color: #8294c4;
  --primary-color: #acb1d6;
  --secondary-color: #dbdfea;
  --inverted-primary-color: #ffead2;
  --inverted-secondary-color: #e7cea6;
}
