.app.light {
  --bg-color: #dad9d9;
  --inverted-bg-color: #242424;

  --primary-color: rgb(45, 45, 250);
  --secondary-color: rgb(144, 144, 230);

  --inverted-primary-color: rgb(247, 247, 255);
  --inverted-secondary-color: rgb(182, 182, 182);
}
